---
layout: default
---
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="cmp-heading pb-3 pb-lg-4">
          <div class="row">
            <div class="col-lg-8" data-audio="">
              <div class="titolo-sezione">
                <h1>{{ page.title }}</h1>
              </div>
              <h2 class="fw-normal fs-4">
                <p>{{ page.description }}</p>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container"><hr class="d-none d-lg-block mt-2"></div>

  <div class="container">
    <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
      <div class="col-12 col-lg-3 mb-4 border-col">
        <div class="cmp-navscroll sticky-top">
          <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="Indice della pagina">
            <div class="navbar-custom">
              <div class="menu-wrapper">
                <div class="link-list-wrapper">
                  <div class="accordion">
                    <div class="accordion-item">
                      <span class="accordion-header">
                        <button class="accordion-button pb-10 px-3 text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true">
                          Indice della pagina
                          <svg class="icon icon-xs right"><use href="#it-expand"></use></svg>
                        </button>
                      </span>
                      <div class="progress">
                        <div class="progress-bar it-navscroll-progressbar" role="progressbar" style="width: 100%;"></div>
                      </div>
                      <div id="collapse-one" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                          <ul class="link-list">
                            <li><a class="nav-link" href="#competenze">Competenze</a></li>
                            <li><a class="nav-link" href="#tipologia">Tipologia di organizzazione</a></li>
                            <li><a class="nav-link" href="#responsabile">Responsabile</a></li>
                            <li><a class="nav-link" href="#sede-principale">Sede principale</a></li>
                            <li><a class="nav-link" href="#contatti">Contatti</a></li>
                            <li><a class="nav-link" href="#more-info">Ulteriori informazioni</a></li>
                          </ul>
                        </div>
                      </div>
                    </div><!-- /accordion-item -->
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">

          <section id="competenze" class="it-page-section mb-30" data-audio="">
            <h3 class="mb-3">Competenze</h3>
            <div class="richtext-wrapper lora">
              {{ page.competenze | markdownify }}
            </div>
          </section>

          <section id="tipologia" class="it-page-section mb-30" data-audio="">
            <h3 class="mb-3">Tipologia di organizzazione</h3>
            <div class="richtext-wrapper lora">
              {{ page.tipologia }}
            </div>
          </section>

          <section id="responsabile" class="it-page-section mb-30" data-audio="">
            <h3 class="mb-3">Responsabile</h3>
            <div class="card card-bg card-vertical-thumb bg-white bx-shadow-sm bx-border-light rounded">
              <div class="card-body">
                <h5 class="card-title fs-5 fw-semibold">
                  <a class="text-decoration-none" href="{{ page.responsabile_url }}">
                    {{ page.responsabile_nome }}
                  </a>
                </h5>
                <p>{{ page.responsabile_ruolo }}</p>
              </div>
            </div>
          </section>

          <section id="sede-principale" class="it-page-section mb-30" data-audio="">
            <h3 class="mb-3">Sede principale</h3>
            <div class="card card-teaser card-teaser-info rounded p-3 m-1 bx-shadow-sm">
              <div class="card-body">
                <h5 class="card-title fs-5 fw-semibold">
                  <a class="text-decoration-none" href="{{ page.sede_url }}">
                    {{ page.sede_nome }}
                  </a>
                </h5>
                <p>{{ page.sede_indirizzo }}</p>
              </div>
            </div>
          </section>

          <section id="contatti" class="it-page-section mb-30" data-audio="">
            <h3 class="mb-3">Contatti</h3>
            <div class="card card-teaser card-teaser-info p-3 m-1 bx-shadow-sm rounded">
              <div class="card-body">
                <h5 class="card-title fw-semibold">{{ page.title }}</h5>
                <p><b>Telefono:</b> {{ page.telefono }}</p>
                <p><b>Email:</b> <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
              </div>
            </div>
          </section>

          <section id="more-info" class="it-page-section mb-30" data-audio="">
            <h3 class="mb-3">Ulteriori informazioni</h3>
            {{ page.more_info | markdownify }}
          </section>

        </div>
      </div>
    </div>
  </div>
</main>
