---
layout: page
---
<!-- layout: PP -->
<main>
  <script type="application/ld+json" data-element="metatag">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "{{ nome }}",
      "email": "{{ email }}",
      "jobTitle": "{{ ruolo }}",
      "affiliation": {
        "@type": "Organization",
        "name": "Progetto Arena Giovani"
      }
    }
  </script>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="cmp-heading pb-3 pb-lg-4">
          <div class="row">
            <div class="col-lg-8">
              <div class="titolo-sezione">
                <h2 class="fw-normal fs-4">{{ titolo }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid my-3">
    <div class="row">
      <figure class="figure px-0 img-full">
        <img src="{{ foto }}" class="figure-img img-fluid" alt="Foto di {{ nome }}">
      </figure>
    </div>
  </div>

  <div class="container">
    <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
      <div class="col-12 col-lg-3 mb-4 border-col">
        <div class="cmp-navscroll sticky-top"></div>
      </div>

      <div class="col-12 col-lg-8 offset-lg-1">
        <div class="it-page-sections-container">

          <section class="it-page-section mb-30">
            <h3 class="mb-3">Incarico</h3>
            <div class="richtext-wrapper lora">
              <p>{{ ruolo }}</p>
            </div>
          </section>

          <section class="it-page-section mb-30">
            <h3 class="mb-3">Data di insediamento</h3>
            <div class="richtext-wrapper lora">
              <p>{{ data_insediamento }}</p>
            </div>
          </section>

          <section class="it-page-section mb-30">
            <h3 class="mb-3">Competenze</h3>
            <div class="richtext-wrapper lora">
              <p>{{ competenze }}</p>
            </div>
          </section>

          <section class="it-page-section mb-30">
            <h3 class="mb-3">Contatti</h3>
            <div class="card card-teaser card-teaser-info p-3 m-1 bx-shadow-sm rounded">
              <div class="card-body pe-3">
                <h5 class="card-title fw-semibold">{{ nome }}</h5>
                <div class="card-text lh-lg">
                  <a href="mailto:{{ email }}">{{ email }}</a>
                </div>
              </div>
            </div>
          </section>

          {% if allegati %}
          <section class="it-page-section">
            <h2 class="mb-4">Documenti</h2>
            <ul>
              {% for file in allegati %}
                <li><a href="{{ file.url }}">{{ file.label }}</a></li>
              {% endfor %}
            </ul>
          </section>
          {% endif %}

          {{ content }}
        </div>
      </div>
    </div>
  </div>
</main>
